html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

p,h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
}

body {
  min-width: 320px;
  word-break: normal;
  font-family: 'Muller', sans-serif;
  /*display: grid;*/
  /*grid-template-rows: 140px 1fr 323px;*/
  /*height: 100vh;*/
  /*grid-template-areas:  'header' 'main' 'footer';*/
}

button:active, button:focus {
  outline: none;
}

/* global */

.list-reset{
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  opacity: 0;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
}

.main {
  grid-area: main;
}
.footer {
  grid-area: footer;
}

/* var. */

:root {  /* colors */
  --deep-darck-color: #121723;
  --light-darck-color: #292E39;
  --deep-gray-color: #A1A6B4;
  --medium-gray-color: #D2D5DD;
  --light-gray-color: #E6E8EC;
  --deep-broun-color: #BB973E;
  --light-broun-color: #F0D288;
  --blue-color: #0039A6;
  --red-color: #D52B1E;
  --deep-purpul-color: #4F28A5;
  --medium-purpul-color: #6D31EE;
  --light-purpul-color: #AA9DFA;
  --light-white-color: #F5F6F7;
  --white-color: #FFF;
}

:root {  /* sizes */

}

/* header */

.header {
  background-color: var(--white-color);
  grid-area: header;
  grid-column: 1 / span 12;
}

.header__grid_center {
  align-items: center;
}

.header__nav-top {
  position: relative;
  min-height: 80px;
}

.header__nav-bottom__wrapper::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 80px;
  width: 100%;
  height: 1px;
  background-color: var(--light-gray-color);
}

.header__logo-link {
  grid-column: 1 / span 2;
}

.header__nav {
  grid-column: 3 / span 8;
}

.header__nav-list {
  padding-top: 1px;
  padding-left: 50px;
  display: grid;
  grid-template-columns: repeat(5, min-content);
  grid-gap: 59px;
}

.header__btns-wrapper {
  grid-column: 11 / span 2;
}

.header__nav-item {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: var(--deep-darck-color);
}

.header__nav-link {
  position: relative;
  transition: all 0.3s;
}

.header__nav-link:focus {
  color: var(--white-color);
  background-color: var(--light-purpul-color);
}

.header__nav-link:hover {
  color: var(--medium-purpul-color);
}

.header__nav-link::before {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  background-color: var(--medium-purpul-color);
  transition: all 0.3s;
}

.header__nav-link:hover::before {
  transform: scaleX(1);
  transition: all 0.3s;
}

.header__nav-link:active {
  color: var(--deep-purpul-color);
}

.header__label {
  justify-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: var(--deep-gray-color);
}

.header-btn {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--deep-darck-color);
}

.header__nav-bottom {
  position: relative;
  min-height: 60px;
}

.header__nav-bottom__wrapper::after {
  content: " ";
  position: absolute;
  left: 0;
  top: 139px;
  width: 100%;
  height: 1px;
  background-color: var(--light-gray-color);
}

.header__sub-nav__list {
  grid-column: 1 / span 7;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(6, min-content);
  grid-gap: 53px;
}

.header__sub-nav__link {
  position: relative;
  transition: all 0.3s;
}

.header__sub-nav__link:focus {
  color: var(--white-color);
  background-color: var(--light-purpul-color);
}

.header__sub-nav__link:hover {
  color: var(--medium-purpul-color);
}

.header__sub-nav__link::before {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  background-color: var(--medium-purpul-color);
  transition: all 0.3s;
}

.header__sub-nav__link:hover::before {
  transform: scaleX(1);
  transition: all 0.3s;
}

.header__sub-nav__link:active {
  color: var(--deep-purpul-color);
}

.header__search-btn {
  position: relative;
  bottom: 4px;
  left: 8px;
  width: 24px;
  height: 24px;
}

.header__search-btn::before {
  content: " ";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 18px;
  height: 18px;
  border: 2px solid var(--medium-purpul-color);
  border-radius: 50%;
}

.header__search-btn::after {
  content: " ";
  position: absolute;
  top: 16px;
  left: 18px;
  width: 2px;
  height: 7px;
  background-color: var(--medium-purpul-color);
  border-radius: 20%;
  transform: rotate(136deg);
}

.header__login-btn {
  position: relative;
  left: 29px;
  width: 104px;
  padding: 10px;
  min-height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: var(--deep-darck-color);
  border: 2px solid var(--deep-darck-color);
  border-radius: 77px;
}

.header__label__earlier-on-air {
  position: relative;
  padding-top: 13px;
  padding-left: 41px;
  grid-column: 8 / span 2;
}

.header__sub-btn__earlier-on-air {
  padding-top: 5px;
}

.header__label__on-air-now {
  position: relative;
  padding-top: 13px;
  padding-left: 25px;
  grid-column: 10 / span 2;
}

.header__sub-btn__on-air-now {
  padding-top: 5px;
}

.over-twelve {
  position: relative;
  padding-top: 24px;
  padding-left: 14px;
  width: 46px;
  height: 60px;
  justify-self: end;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--deep-gray-color);
  background-color: var(--light-gray-color);
}

.over-twelve::before {
  content: "12+";
  position: absolute;
  top: 15px;
  left: 8px;
  padding-top: 9px;
  padding-left: 6px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--white-color);
}

.header__sub-btn__earlier-on-air::before {
  content:" ";
  position: absolute;
  top: 20px;
  left: 11px;
  width: 20px;
  height: 20px;
  background-color: var(--deep-gray-color);
  border-radius: 50%;
  cursor: pointer;
}

.header__sub-btn__earlier-on-air::after {
  content: " ";
  position: absolute;
  top: 26px;
  left: 20px;
  border-style: solid;
  border-width: 4px;
  border-color: var(--white-color) transparent transparent;
  transform: rotate(270deg);
  cursor: pointer;
}

.header__label__earlier-on-air::before {
  content: " ";
  position: absolute;
  left: -2px;
  top: 10px;
  width: 1px;
  height: 40px;
  background-color: var(--light-gray-color);
}

.header__label__earlier-on-air::after {
  content: " ";
  position: absolute;
  right: -13px;
  top: 10px;
  width: 1px;
  height: 40px;
  background-color: var(--light-gray-color);
}

.header__label__on-air-now::after {
  content: " ";
  position: absolute;
  right: 3px;
  top: 10px;
  width: 1px;
  height: 40px;
  background-color: var(--light-gray-color);
}

.header__sub-btn__on-air-now::before {
  content:" ";
  position: absolute;
  top: 20px;
  left: -5px;
  width: 20px;
  height: 20px;
  background-color: var(--deep-gray-color);
  border-radius: 50%;
  cursor: pointer;
}

.header__sub-btn__on-air-now::after {
  content: " ";
  position: absolute;
  top: 26px;
  left: 4px;
  border-style: solid;
  border-width: 4px;
  border-color: var(--white-color) transparent transparent;
  transform: rotate(270deg);
  cursor: pointer;
}


/* Hero */

.hero {
  justify-items: end;
}

.hero__wrapper {
  padding-top: 96px;
  grid-column: 1 / span 7;
}

.hero__title {
  margin-bottom: 13px;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 100%;
  color: var(--deep-darck-color);
}

.hero__title span {
  font-style: italic;
  font-weight: 400;
  font-size: 60px;
  line-height: 100%;
  color: var(--deep-darck-color);
}

.hero__text {
  margin-bottom: 45px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--deep-darck-color);
}

.hero__btn {
  padding: 20px;
  width: 245px;
  height: 70px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: var(--white-color);
  background-color: var(--medium-purpul-color);
  border-radius: 40px;
}

.hero__picture {
  padding-top: 30px;
  grid-column: 8 / span 5;
}

