/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 2 version
*/

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

p,h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
}

body {
  min-width: 320px;
  word-break: normal;
  font-family: 'Muller', sans-serif;
}

/* global */

.list-reset{
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  opacity: 0;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
}

.main {
  grid-area: main;
}
.footer {
  grid-area: footer;
}

/* var. */

:root {  /* colors */
  --deep-darck-color: #121723;
  --light-darck-color: #292E39;
  --deep-gray-color: #A1A6B4;
  --medium-gray-color: #D2D5DD;
  --light-gray-color: #E6E8EC;
  --deep-broun-color: #BB973E;
  --light-broun-color: #F0D288;
  --blue-color: #0039A6;
  --red-color: #D52B1E;
  --deep-purpul-color: #4F28A5;
  --medium-purpul-color: #6D31EE;
  --light-purpul-color: #AA9DFA;
  --light-white-color: #F5F6F7;
  --white-color: #FFF;
}

:root {  /* sizes */
  --margin-bottom: 30px;;
}

/* header */

.header {
  background-color: var(--white-color);
}

.line {
  display: block;
  width: 100%;
  border-bottom: 1px solid var(--light-gray-color);
}

.burger {
  display: none;
}

.header__top {
  padding-top: 15px;
  padding-bottom: 15px;
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__link_link-size {
  max-width: 108px;
  min-height: 20px;
}

.top-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__link_margin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 80px;
}

.header__link {
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: var(--deep-darck-color);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header__link:active {
  color: var(--deep-purpul-color);
}

.header__link:hover {
  color: var(--deep-purpul-color);
}

.header__link:hover::before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.header__link::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  background: var(--deep-purpul-color);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: center;
  transform-origin: center;
}

.header__link:focus {
  outline-offset: 10px;
  outline: 1px solid var(--light-purpul-color);
  background-color: var(--light-purpul-color);
}

.header__nav-top {
  margin-right: 75px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__item:not(:last-child) {
  margin-right: 59px;
}

.header__item-bottom:not(:last-child) {
  margin-right: 53px;
}

.header__search {
  position: relative;
  margin-right: 28px;
  width: 25px;
  height: 25px;
}

.header__input {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 24px;
  height: 24px;
  width: 0;
  border: none;
  border-bottom: 1px solid transparent;
  outline: none;
  background: transparent;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 2;
}

.header__input:focus-visible {
  width: 308px;
  z-index: 0;
  margin-right: 24px;
  border-bottom: 1px solid var(--medium-purpul-color);
  background: var(--white-color);
  cursor: inherit;
}

.header__input:active {

}

.header__input:hover {

}

.header__input:focus {
  outline: none;
}


.header__btn-open {
  position: relative;
  width: 24px;
  height: 24px;
}

.header__btn-open::before {
  content: " ";
  position: absolute;
  top: 1px;
  left: 8px;
  width: 18px;
  height: 18px;
  border: 2px solid var(--medium-purpul-color);
  border-radius: 50px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header__btn-open::after {
  content: " ";
  position: absolute;
  top: 15px;
  left: 24px;
  width: 2px;
  height: 7px;
  background-color: var(--medium-purpul-color);
  border-radius: 50px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header__btn-open:active::before {
  border-color: var(--deep-purpul-color);
}

.header__btn-open:hover::before {
  border-color: var(--light-purpul-color);
}

.header__btn-open:focus::before {
  border-color: var(--light-purpul-color);
}

.header__btn-open:active::after {
  background-color: var(--deep-purpul-color);
}

.header__btn-open:hover::after {
  background-color: var(--light-purpul-color);
}

.header__btn-open:focus::after {
  background-color: var(--light-purpul-color);
}

.header__btn {

  padding: 10px 15px;
  max-width: 104px;
  width: 104px;
  min-height: 40px;
  border: 2px solid var(--deep-darck-color);
  border-radius: 77px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  word-break: break-word;
}

.header__btn_focus:active {
  border-color: var(--deep-purpul-color);
  background-color: var(--deep-purpul-color);
}

.header__btn_focus:hover {
  background-color: var(--deep-darck-color);
}

.header__btn_focus:focus {
  outline-offset: 10px;
  outline: 1px solid var(--light-purpul-color);
  background-color: var(--light-purpul-color);
}

.header__btn_color {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: var(--deep-darck-color);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header__btn_color:active {
  color: var(--white-color);
}

.header__btn_color:hover {
  color: var(--white-color);
}

.header__btn_color:focus {

}

.header__bottom {
  min-height: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.header__nav-bottom {
  margin-right: 51px;
}

.header__bottom-btns {
  margin-right: 32px;
  max-width: 350px;
  min-height: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (-webkit-max-content)[2];
  -ms-grid-columns: (max-content)[2];
  grid-template-columns: repeat(2, -webkit-max-content);
  grid-template-columns: repeat(2, max-content);
  word-break: break-word;
}

.header__list-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__link_bottom-sizes {
  position: relative;
  max-width: 75px;
  min-height: 16px;
  font-size: 16px;
  line-height: 16px;
}

.header__btn-bottom {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  max-width: 175px;
  min-width: 175px;
  min-height: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--deep-darck-color);
  border-left: 1px solid var(--light-gray-color);
}

.header__btn-bottom:last-child {
  border-right: 1px solid var(--light-gray-color);
}

.btn-svg {
  position: absolute;
  top: 10px;
  left: 12px;
}

.btn-svg-enable-naw {
  position: absolute;
  top: 10px;
  left: 12px;
  opacity: 0;
  z-index: 1;
}

.btn-svg-disable-naw {
  position: absolute;
  opacity: 1;
  top: 10px;
  left: 12px;
}

.btn-svg-enable-archive {
  position: absolute;
  top: 10px;
  left: 12px;
  opacity: 0;
  z-index: 1;
}

.btn-svg-disable-archive {
  position: absolute;
  opacity: 1;
  top: 10px;
  left: 12px;
}

.header__btn-bottom:active svg path {
  fill: var(--deep-purpul-color);
}

.header__btn-bottom:hover svg path {
  fill: var(--medium-purpul-color);
}

.header__btn-bottom:focus svg path {
  fill: var(--light-purpul-color);
}

.btn-span {
  padding-left: 42px;
}

.btn-text {
  padding-left: 42px;
}

.header__btn-bottom_padding {
  padding: 3px 42px 0 41px;
  border-right: 1px solid var(--light-gray-color);
}

.btn-span {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: var(--deep-gray-color);
  word-break: break-word;
}

.twelve-plus {
  position: relative;
  left: 19px;
  background-color: var(--light-gray-color);
  width: 46px;
  height: 58px;
}

.twelve-plus::before {
  content: " ";
  position: absolute;
  top: 14px;
  left: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: var(--white-color);
}

.twelve-plus::after {
  content: "12+";
  position: absolute;
  top: 22px;
  left: 14px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--deep-gray-color);
}

.btn-320 {
  display: none;
  opacity: 0;
  visibility: hidden;
}

/* Hero */

.hero {
  min-height: 450px;
  justify-items: end;
}

.hero__wrapper {
  padding-top: 96px;
  padding-bottom: 94px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-column: 1 / span 7;
}

.hero__title {
  margin-bottom: 13px;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 100%;
  color: var(--deep-darck-color);
}

.hero__title span {
  font-style: italic;
  font-weight: 400;
  font-size: 60px;
  line-height: 100%;
  color: var(--deep-darck-color);
}

.hero__text {
  margin-bottom: 45px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--deep-darck-color);
}

.hero__btn {
  padding: 26px 54px 24px 54px;
  max-width: 245px;
  min-width: 245px;
  min-height: 70px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: var(--white-color);
  background-color: var(--medium-purpul-color);
  border-radius: 40px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.hero__btn:focus {
  background-color: var(--light-purpul-color);
  outline: 3px solid var(--deep-purpul-color);
}

.hero__btn:hover {
  background-color: var(--light-purpul-color);
}

.hero__btn:active {
  background-color: var(--deep-purpul-color);
}

.hero__picture {
  padding-top: 30px;
  -ms-grid-column: 8;
  -ms-grid-column-span: 5;
  grid-column: 8 / span 5;
}

/* podcast */

.podcast__grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(396px, 1fr));
  gap: 30px;
}

.podcast__wrapper {
  padding-top: 94px;
  min-height: 1046px;
  background-color: #F2F2F2;
}

.podcast__list {
  margin-bottom: 60px;
}

.podcast__item-data {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 51px;
  height: 17px;
  bottom: -2px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: var(--deep-darck-color);
  background-color: var(--light-gray-color);
}

.podcast__content-time {
  display: inline-block;
  margin-bottom: 9px;
  max-width: 30px;
  min-height: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: var(--deep-darck-color);
}

.podcast__title {
  margin-bottom: var(--margin-bottom);
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  color: var(--deep-darck-color);
}

.podcast__item-title {
  width: 176px;
  min-height: 20px;
  margin-bottom: 3px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: var(--deep-darck-color);
}

.podcast__item-text {
  width: 176px;
  min-height: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--deep-gray-color);
}

.podcast__btn svg {
  position: relative;
  top: 0;
  right: 0;
  width: 42px;
  height: 42px;
  border-radius: 50px;
  cursor: pointer;
}

.podcast__btn {
  position: absolute;
  top: 33px;
  right: 33px;
  width: 42px;
  height: 42px;
  border-radius: 50px;
  cursor: pointer;
}

.podcast__btn svg:last-child {
  display: none;
}

.podcast__btn:hover svg path:last-child  {
  fill: var(--medium-purpul-color);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.podcast__btn:hover svg circle  {
  stroke: var(--medium-purpul-color);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.podcast__btn:hover svg rect {
  fill: var(--medium-purpul-color);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.podcast__btn:active svg {
  fill: var(--medium-purpul-color);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.podcast__btn:focus svg path:last-child  {
  fill: var(--light-purpul-color);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.podcast__btn:focus svg circle  {
  stroke: var(--light-purpul-color);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.podcast__btn:focus svg rect {
  fill: var(--light-purpul-color);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.podcast__btn.pause>svg:first-child {
  display: none;
}

.podcast__btn.pause>svg:last-child {
  display: block;
}

.podcast__item-wrapper label {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--deep-gray-color);
}

.podcast__item {
  min-height: 140px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: -webkit-max-content 1fr;
  -ms-grid-columns: max-content 1fr;
  grid-template-columns: -webkit-max-content 1fr;
  grid-template-columns: max-content 1fr;
  position: relative;
  background-color: var(--white-color);
}

.podcast__item:nth-child(n+9) {
  display: none;
}

.podcasts__item_visible:nth-child(n+9) {
  display: -ms-grid;
  display: grid;
}

.podcast__img-wrapper {
  position: relative;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
}

.podcast__content-wrapper {
  position: relative;
  padding: 20px 30px 16px 30px;
}

.podcast__item-wrapper {
  padding-top: 8px;
  padding-left: 30px;
  border-top: 1px solid var(--light-gray-color);
}

.podcast__item-label {
  position: relative;
  cursor: pointer;
}

.podcast__item-btn {
  position: absolute;
}

.podcast__item-label__heard{
  padding-left: 16px;
}

.podcast__item-europ__label-likee {
  padding-left: 46px;
}

.podcast__item-europ__label-repost {
  padding-left: 44px;
}

.podcast__item-europ__heard {
  top: 0;
  left: 0;
}

.podcast__item-europ__likee {
  left: 27px;
}

.podcast__item-europ__repost {
  top: 0;
  left: 26px;
}

.podcast__wrapper-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 94px;
}

.podcast__more-btn {
  padding: 20px;
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5 / span 4;
  width: 246px;
  min-height: 70px;
  border: 2px solid var(--medium-purpul-color);
  border-radius: 40px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: var(--medium-purpul-color);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.podcast__more-btn:focus {
  background-color: var(--light-purpul-color);
  color: var(--white-color);
}

.podcast__more-btn:hover {
  background-color: var(--medium-purpul-color);
  color: var(--white-color);
}

.podcast__more-btn:active {
  background-color: var(--deep-purpul-color);
}

.podcasts-btns__btn--passive {
  display: none;
}

/* broadcast */

.broadcast {
  display: -ms-grid;
  display: grid;
  padding-top: 95px;
  padding-bottom: 93px;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(12, 1fr);
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
}

.broadcast__title {
  margin-bottom: 11px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  color: var(--deep-darck-color);
}

.broadcast__label {
  display: -ms-grid;
  display: grid;
  margin-bottom: 227px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
  gap: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--deep-gray-color);
}

.choices:focus {
  outline: 1px solid var(--medium-purpul-color);
  border-radius: 10px;
}

.choices__inner {
  position: relative;
  background-color: var(--light-white-color);
  max-width: 255px;
  min-width: 255px;
  min-height: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--deep-darck-color);
  border: none;
  border-radius: 10px;
  overflow: hidden;
  z-index: 2;
}



.choices__list--dropdown, .choices__list[aria-expanded] {
  margin-top: -40px;
  padding-top: 40px;
  max-width: 255px;
  min-width: 255px;
  background-color: var(--white-color);
  border: 1px solid var(--medium-gray-color);
  border-radius: 10px;
}

.is-open .choices__inner {
  outline: 1px solid var(--medium-gray-color);
  border-radius: 10px;
}

.choices[data-type*=select-one]:after {
  height: 8px;
  width: 8px;
  border-width: 0;
  border-right: 1px solid var(--medium-gray-color);
  border-top: 1px solid var(--medium-gray-color);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  margin-top: -6px;
  margin-right: 6px;
  z-index: 2;
}

.choices[data-type*=select-one].is-open:after {
  height: 8px;
  width: 8px;
  border-width: 0;
  border-right: 1px solid var(--medium-gray-color);
  border-top: 1px solid var(--medium-gray-color);
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
  margin-top: 0;
  margin-right: 6px;
  z-index: 2;
}

.choices__list--dropdown .is-selected {
  display: none;
}


.broadcast__select {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
}

.broadcast__archive-text {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--deep-gray-color);
}

.broadcast__picture {
  margin-bottom: 24px;
  -ms-grid-column: 1;
  grid-column: 1;
}

.broadcast__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 160px;
  height: 40px;
  border-radius: 77px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: var(--deep-darck-color);
  border: 2px solid var(--deep-darck-color);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.broadcast__btn:focus {
  background-color: var(--light-purpul-color);
}

.broadcast__btn:hover {
  color: var(--white-color);
  background-color: var(--deep-darck-color);
}

.broadcast__btn:hover svg path {
  stroke: var(--white-color);
  -webkit-transition: stroke 0.3s;
  transition: stroke 0.3s;
}

.broadcast__btn:active {
  background-color: var(--medium-purpul-color);
  border-color: var(--medium-purpul-color);
  color: var(--white-color);
}

.broadcast__btn:active svg path {
  stroke: var(--white-color);
  -webkit-transition: stroke 0.3s;
  transition: stroke 0.3s;
}

.broadcast__btn svg {
  margin-right: 4px;
}

.broadcast__list {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  gap: 30px;
  padding-top: 13px;
  -ms-grid-column: 4;
  -ms-grid-column-span: 9;
  grid-column: 4 / span 9;
  -ms-grid-row:1;
  -ms-grid-row-span:6;
  grid-row:1 / span 6 ;
}

.broadcast__item {
  display: inline-block;
  position: relative;
  max-width: 255px;
  min-height: 260px;
}

.broadcast__content-wrapper {
  padding: 20px 16px 18px 16px;
  background: var(--white-color);
  border: 1px solid var(--light-gray-color);
}

.broadcast__item__title {
  margin-bottom: 3px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--deep-darck-color);
}

.broadcast__item__text {
  margin-bottom: 19px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: var(--deep-gray-color);
}

.broadcast__item-link {
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--deep-darck-color);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.broadcast__item-link:hover svg path {
  fill: var(--medium-purpul-color);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.broadcast__item-link:focus svg path {
  fill: var(--white-color);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.broadcast__item-link:hover {
  color: var(--medium-purpul-color);
}

.broadcast__item-link:focus {
  color: var(--white-color);
  background-color: var(--light-purpul-color);
  outline: none;
}

.broadcast__item-link::before {
  position: absolute;
  content: " ";
  top: -7px;
  left: -7px;
  right: -7px;
  bottom: -7px;
}

.broadcast__item-link:focus::before {
  outline: 1px solid var(--medium-purpul-color);
}

.broadcast__item-link::after {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  content: '';
  height: 148px;
  background-color: var(--light-gray-color);
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.broadcast__item-link:hover::after {
  opacity: 0.3;
}


/* guests */

.guests__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(12, 1fr);
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
}

.guests {
  padding-top: 95px;
  background-color: var(--deep-darck-color);
}

.guests__title {
  margin-bottom: 12px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  color: var(--white-color);
  word-break: break-word;
}

.guests__sub-title {
  margin-bottom: 8px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: var(--deep-gray-color);
}

.guests__text {
  margin-bottom: 49px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 9;
  grid-column: 1 / span 9;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color: var(--deep-gray-color);
}

.guests__item {
  border-top: 1px solid var(--deep-gray-color);
  cursor: pointer;
}

.guests__item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 22px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: -1px;
  border-bottom: 1px solid var(--deep-gray-color);
  color: var(--white-color);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.guests__item-text {
  max-width: 230px;
  min-height: 20px;
  word-break: break-word;
}

.guests__sub-item__btn {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--white-color);
}

.guests__article-title {
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: var(--white-color);
}

.guests__article-text {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  color: var(--deep-gray-color);
}

.guests__article-btn {
  padding: 5px;
  margin-bottom: 30px;
  width: 160px;
  min-height: 40px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: var(--light-purpul-color);
  border: 2px solid var(--light-purpul-color);
  border-radius: 77px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.guests__article-btn:hover {
  border-color: var(--light-purpul-color);
  background-color: var(--light-purpul-color);
  color: var(--white-color);
}

.guests__article-btn:focus {
  border-color: var(--medium-purpul-color);
  background-color: var(--medium-purpul-color);
  color: var(--white-color);
}

.guests__article-btn:active {
  border-color: var(--deep-purpul-color);
  background-color: var(--deep-purpul-color);
  color: var(--white-color);
}

.guests__list {
  padding-bottom: 96px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1 / span 8;
}

.guests__article {
  padding-top: 1px;
  -ms-grid-column: 9;
  -ms-grid-column-span: 4;
  grid-column: 9 / span 4;
}

.tabs-item {
  display: none;
}

.tabs-item--active {
  display: block;
}


.guests__article-img {
  margin-bottom: 14px;
}

.guests__article-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 10px;
  padding-left: 2px;
}

.guests__article-item:not(:last-child) {
  margin-right: 34px;
}

.guests__sub-list {
  padding-top: 29px;
  padding-bottom: 28px;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
  row-gap: 14px;
}

.ui-accordion-header-icon {
  display: none;
}

.guests__item-title-element {
  width: 42px;
  height: 42px;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='42' viewBox='0 0 42 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='21' cy='21' r='20' stroke='%23A1A6B4' stroke-width='2'/%3E%3Cpath d='M13 19L21 27L29 19' stroke='%23A1A6B4' stroke-width='2' stroke-linecap='square'/%3E%3C/svg%3E%0A");
}

.guests__item:hover .guests__item-title {
  color: var(--light-purpul-color);
}

.guests__item:focus .guests__item-title {
  color: var(--white-color);
}

.guests__item:active .guests__item-title {
  color: var(--light-purpul-color);
  background-color: var(--light-darck-color);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.guests__item:hover .guests__item-title-element {
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='42' viewBox='0 0 42 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='21' cy='21' r='20' stroke='%23AA9DFA' stroke-width='2'/%3E%3Cpath d='M13 19L21 27L29 19' stroke='%23AA9DFA' stroke-width='2' stroke-linecap='square'/%3E%3C/svg%3E%0A");
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.guests__item:focus .guests__item-title-element {
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='42' viewBox='0 0 42 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='21' cy='21' r='20' stroke='%23A1A6B4' stroke-width='2'/%3E%3Cpath d='M13 19L21 27L29 19' stroke='%23A1A6B4' stroke-width='2' stroke-linecap='square'/%3E%3C/svg%3E%0A");
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.guests__item:active .guests__item-title-element {
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='42' viewBox='0 0 42 42' fill='%23AA9DFA' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='21' cy='21' r='20' stroke='%23AA9DFA' stroke-width='2'/%3E%3Cpath d='M13 19L21 27L29 19' stroke='%23FFF' stroke-width='2' stroke-linecap='square'/%3E%3C/svg%3E%0A");
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.guests__sub-item:hover .guests__sub-item__btn {
  color: var(--light-purpul-color);
}

.guests__article-link:hover svg path {
  fill: var(--medium-purpul-color);
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s;
}

.guests__article-link:focus svg path {
  fill: var(--light-purpul-color);
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s;
}

.guests__article-link:active svg path {
  fill: var(--deep-purpul-color);
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s;
}

/* playlists */

.playlists {
  padding-top: 95px;
  padding-bottom: 94px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(12, 1fr);
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
}

.playlists__title {
  margin-bottom: 11px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  color: var(--deep-darck-color);
}

.playlists__text {
  margin-bottom: 9px;
  -ms-grid-column: 1;
  grid-column: 1;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--deep-gray-color);
}

.playlists__text-bottom {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / span 4;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--deep-gray-color);
  word-break: break-word;
}

.playlists__checkbox-mobile {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / span 4;
}

.playlists__checkbox-wrapper {
  padding-bottom: 21px;
  margin-bottom: 38px;
  display: -ms-grid;
  display: grid;
  row-gap: 16px;
  border-bottom: 1px solid var(--deep-gray-color);
}

.playlists__copyright {
  margin-bottom: 6px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  font-style: italic;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: var(--deep-gray-color);
}

.playlists__age {
  position: relative;
  -ms-grid-column: 1;
  grid-column: 1;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--deep-gray-color);
  width: 30px;
  height: 30px;
  border: 1px solid var(--deep-gray-color);
  border-radius: 50px;
}

.playlists__age::before {
  content: "18+";
  position: absolute;
  top: 8px;
  left: 5px;
}

.playlists__list {
  -ms-grid-column: 5;
  -ms-grid-column-span: 8;
  grid-column: 5 / span 8;
  -ms-grid-row:  1;
  -ms-grid-row-span:  7;
  grid-row:  1 / span 7;
}

.playlists__list-grid {
  padding-top: 13px;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 30px;
}

.playlists__item-wrapper {
  padding: 15px;
  background: var(--white-color);
  border: 1px solid var(--light-gray-color);
}

/*.playlists__item-wrapper:hover {*/
/*  background-color: var(--medium-purpul-color);*/
/*  border-color: var(--medium-purpul-color);*/
/*  transition: all 0.3s;*/
/*}*/

.playlists__item-title {
  margin-bottom: 4px;
  text-align: start;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: var(--deep-darck-color);
}

.playlists__item-text {
  text-align: start;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: var(--deep-gray-color);
}

.checkbox {
  display: none;
}

.playlists__label {
  position: relative;
  padding-top: 5px;
  padding-left: 42px;
  padding-bottom: 5px;
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: var(--deep-darck-color);
}

.checkbox + .playlists__checkbox{
  position: absolute;
  left: 2px;
  top: 1px;
  width: 26px;
  height: 26px;
  border: 2px solid var(--deep-gray-color);
  border-radius: 50px;
}

.checkbox:checked + .playlists__checkbox {
  background: var(--medium-purpul-color);
  border-color: var(--medium-purpul-color);
}

.checkbox + .playlists__checkbox::after {
  content: " ";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 12px;
  height: 12px;
  border-radius: 520px;
  background-color: var(--white-color);
  opacity: 0;
}

.checkbox:checked + .playlists__checkbox::after {
  opacity: 1;
}

.playlists__checkbox:focus {
  background: #D2D5DD;
  border-color: var(--medium-purpul-color);
}

.playlists__checkbox:hover {
  border-color: var(--medium-purpul-color);
}

.playlists__item-btn {
  position: relative;
}

.playlists__item-btn::before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 64px;
  opacity: 0.8;
}

.playlists__item-btn::after {
  content: " ";
  position: absolute;
  top: 55px;
  right: 0;
  left: 59px;
  bottom: 0;
}

.playlists__item-btn:hover::after {
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='42' viewBox='0 0 42 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='21' cy='21' r='21' fill='%236D31EE'/%3E%3Cpath d='M18.6924 28.7965L28.5716 21.7996C29.1428 21.3998 29.1428 20.6002 28.5716 20.2004L18.6924 13.2035C17.9943 12.7037 17 13.1835 17 14.0031V27.9969C17 28.8165 17.9943 29.2963 18.6924 28.7965Z' fill='white'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}

.playlists__item-btn:focus::after {
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='42' viewBox='0 0 42 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='21' cy='21' r='21' fill='%236D31EE'/%3E%3Cpath d='M18.6924 28.7965L28.5716 21.7996C29.1428 21.3998 29.1428 20.6002 28.5716 20.2004L18.6924 13.2035C17.9943 12.7037 17 13.1835 17 14.0031V27.9969C17 28.8165 17.9943 29.2963 18.6924 28.7965Z' fill='white'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}

.playlists__item-btn:hover .playlists__item-wrapper{
  background-color: var(--medium-purpul-color);
  border-color: var(--medium-purpul-color);
  -webkit-transition: background-color 0.3s, border-color 0.3s;
  transition: background-color 0.3s, border-color 0.3s;
}

.playlists__item-btn:focus .playlists__item-wrapper{
  background-color: var(--light-purpul-color);
  border-color: var(--light-purpul-color);
  -webkit-transition: background-color 0.3s, border-color 0.3s;
  transition: background-color 0.3s, border-color 0.3s;
}

.playlists__item-btn:hover::before {
  background-color: var(--deep-darck-color);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.playlists__item-btn:focus::before {
  background-color: var(--deep-darck-color);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.playlists__item-btn:hover .playlists__item-title {
  color: var(--white-color);
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.playlists__item-btn:focus .playlists__item-title {
  color: var(--white-color);
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.playlists__item-btn:hover .playlists__item-text {
  color: var(--white-color);
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.playlists__item-btn:focus .playlists__item-text {
  color: var(--white-color);
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.playlists__item-country {
  width: 24px;
  height: 20px;
  position: absolute;
  top: 0;
  right: 0;
}

.playlists__item-country_rf {
  background: url("../img/jpg/playlists/rf.png") no-repeat;
}

.playlists__item-country_uk {
  background: url("../img/jpg/playlists/uk.png") no-repeat;
}

/* market */

.market {
  padding-top: 95px;
  padding-bottom: 133px;
  background: var(--light-darck-color);
}

.market__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(12, 1fr);
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
}

.market__picture {
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-column: 1 / span 7;
  -ms-grid-row: 1;
  -ms-grid-row-span: 6;
  grid-row: 1 / span 6;
}

.market__title {
  margin-bottom: 19px;
  padding-bottom: 29px;
  -ms-grid-column: 8;
  -ms-grid-column-span: 5;
  grid-column: 8 / span 5;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  color: var(--light-broun-color);
  background: url("../img/png/market/line.png") no-repeat bottom;
}

.market__text {
  margin-bottom: 13px;
  -ms-grid-column: 8;
  -ms-grid-column-span: 5;
  grid-column: 8 / span 5;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  color: var(--white-color);
}

.market__text_margin {
  margin-bottom: 30px;
}

.market__price {
  margin-bottom: 29px;
  -ms-grid-column: 8;
  -ms-grid-column-span: 2;
  grid-column: 8 / span 2;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  color: var(--white-color);
}

.market__btn {
  text-align: start;
  max-width: 300px;
  min-height: 70px;
  -ms-grid-column: 8;
  -ms-grid-column-span: 4;
  grid-column: 8 / span 4;
  padding: 24px 11px 22px 40px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: var(--light-broun-color);
  border: 2px solid var(--light-broun-color);
  border-radius: 100px;
  background-image: url("data:image/svg+xml,%3Csvg width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_31982_1268)'%3E%3Cpath d='M10.5 20C16.0228 20 20.5 15.5228 20.5 9.99998C20.5 4.47714 16.0228 0 10.5 0C4.97724 0 0.5 4.47714 0.5 9.99998C0.5 15.5228 4.97724 20 10.5 20Z' fill='%23F0D288'/%3E%3Cpath d='M17.4383 4.54391L13.7294 3.17676L8.39558 10.8637L8.92665 7.3751L6.02046 5.68219L0.673828 12.1141C0.924147 13.3858 1.41008 14.5718 2.08375 15.6239L5.27361 11.7711L4.09981 16.2962L7.73695 17.6271L13.1407 9.8464L11.9568 14.2958L14.9032 16.0179L20.5579 10.3174C20.5591 10.2534 20.5598 10.1889 20.5598 10.1246C20.5598 8.78258 20.3016 7.50132 19.8328 6.32896L16.548 9.6538L17.4383 4.54391Z' fill='%23121723'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_31982_1268'%3E%3Crect x='0.5' width='20' height='20' rx='10' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  background-position: 11px;
  background-repeat: no-repeat;
}

/* about-us */

.about-us {
  padding-top: 95px;
  padding-bottom: 93px;
  background-color: var(--deep-darck-color);
}

.about-us__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(12, 1fr);
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
}

.about-us__wrapper {
  background-image: url("../img/png/about-us/background-image.png");
  background-repeat: no-repeat;
  background-position: right -2px;
}

.about-us__title {
  margin-bottom: 12px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  color: var(--white-color);
}

.about-us__sub-text {
  margin-bottom: 8px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-column: 1 / span 7;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: var(--deep-gray-color);
}

.about-us__text {
  margin-bottom: 29px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-column: 1 / span 7;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color: var(--deep-gray-color);
}

.about-us__img {
  margin-bottom: 31px;
}

.about-us__list {
  margin-bottom: 30px;
}

.swiper {
  width: 100%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / span 12;
}

.swiper-button-next, .swiper-button-prev {
  top: 130px;
  width: 42px;
  height: 42px;
  border: 2px solid var(--deep-gray-color);
  border-radius: 50px;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  content: " ";
  position: absolute;
  top: 7px;
  left: 17px;
  width: 2px;
  height: 16px;
  background-color: var(--deep-gray-color);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.swiper-button-prev:before, .swiper-rtl .swiper-button-next:before {
  content: " ";
  position: absolute;
  top: 17px;
  left: 17px;
  width: 2px;
  height: 16px;
  background-color: var(--deep-gray-color);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 0;
  text-transform: none!important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 0;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  content: " ";
  position: absolute;
  top: 17px;
  left: 17px;
  width: 2px;
  height: 16px;
  background-color: var(--deep-gray-color);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.swiper-button-next:before, .swiper-rtl .swiper-button-prev:before {
  content: " ";
  position: absolute;
  top: 7px;
  left: 17px;
  width: 2px;
  height: 16px;
  background-color: var(--deep-gray-color);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.about-us__item-title {
  margin-bottom: 7px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: var(--white-color);
}

.about-us__item-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--deep-gray-color);
}

.about-us__form {
  -ms-grid-column: 1;
  -ms-grid-column-span: 10;
  grid-column: 1 / span 10;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(10, 1fr);
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
}

.about-us__input-text__label {
  -ms-grid-column: 1;
  -ms-grid-column-span: 10;
  grid-column: 1 / span 10;
}

.about-us__input-text {
  margin-bottom: 25px;
  padding: 30px 10px 10px 32px;
  width: 100%;
  max-width: 920px;
  min-width: 200px;
  max-height: 250px;
  min-height: 150px;
  border: 1px solid var(--white-color);
  border-radius: 30px;
  background-color: transparent;
  color: var(--white-color);
}

.about-us__input-text::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: var(--deep-gray-color);
}

.about-us__input-text::-moz-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: var(--deep-gray-color);
}

.about-us__input-text:-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: var(--deep-gray-color);
}

.about-us__input-text::-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: var(--deep-gray-color);
}

.about-us__input-text::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: var(--deep-gray-color);
}

.about-us__input-name__label {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1 / span 5;
}

.about-us__input-name {
  margin-bottom: 30px;
  padding: 15px 10px 10px 32px;
  width: 100%;
  height: 70px;
  border: 1px solid #FFFFFF;
  border-radius: 40px;
  background-color: transparent;
  color: var(--white-color);
}

.about-us__input-name::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: var(--deep-gray-color);
}

.about-us__input-name::-moz-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: var(--deep-gray-color);
}

.about-us__input-name:-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: var(--deep-gray-color);
}

.about-us__input-name::-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: var(--deep-gray-color);
}

.about-us__input-name::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: var(--deep-gray-color);
}

.about-us__input-email__label {
  -ms-grid-column: 6;
  -ms-grid-column-span: 5;
  grid-column: 6 / span 5;
}

.about-us__input-email {
  margin-bottom: 30px;
  padding: 15px 10px 10px 32px;
  width: 100%;
  height: 70px;
  border: 1px solid var(--white-color);
  border-radius: 40px;
  background-color: transparent;
  color: var(--white-color);
}

.about-us__input-email::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: var(--deep-gray-color);
}

.about-us__input-email::-moz-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: var(--deep-gray-color);
}

.about-us__input-email:-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: var(--deep-gray-color);
}

.about-us__input-email::-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: var(--deep-gray-color);
}

.about-us__input-email::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: var(--deep-gray-color);
}

.about-us__btn {
  margin-bottom: 33px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
  padding: 26px;
  width: 212px;
  height: 70px;
  background: var(--medium-purpul-color);
  border-radius: 40px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: var(--white-color);
}

.about-us__label {
  position: relative;
  padding-left: 22px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / span 4;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: var(--white-color);
  cursor: pointer;
}

.about-us__checkbox {
  display: none;
}

.about-us__checkbox-custom {
  position: absolute;
  left: 0;
  top: -3px;
  width: 14px;
  height: 14px;
  border: 1px solid var(--white-color);
  cursor: pointer;
}

.about-us__checkbox + .about-us__checkbox-custom::before {
  content: " ";
  position: absolute;
  top: 4px;
  left: 3px;
  width: 2px;
  height: 5px;
  background-color: var(--light-purpul-color);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  opacity: 0;
}

.about-us__checkbox + .about-us__checkbox-custom::after {
  content: " ";
  position: absolute;
  top: 2px;
  left: 6px;
  width: 2px;
  height: 7px;
  background-color: var(--light-purpul-color);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  opacity: 0;
}

.about-us__checkbox:checked + .about-us__checkbox-custom::before {
  opacity: 1;
}

.about-us__checkbox:checked + .about-us__checkbox-custom::after {
  opacity: 1;
}

/* footer */

.footer {
  padding-top: 94px;
  background-color: var(--light-darck-color);
  min-height: 323px;
  background-image: url("../img/png/footer/Vector.png");
  background-repeat: no-repeat;
  background-position: -8px 275px;
}

.footer__logo-link {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  margin-bottom: 2px;
}

.footer__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(12, 1fr);
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
}

.footer__list {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__nav {
  -ms-grid-column: 8;
  -ms-grid-column-span: 5;
  grid-column: 8 / span 5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
}

.footer__nav-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 109px 1fr 109px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 109px;
  -moz-column-gap: 109px;
  column-gap: 109px;
  row-gap: 17px;
}

.footer__nav-link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--white-color);
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}

.footer__link_padding {
  padding: 2px;
}

.footer__item:not(:last-child) {
  margin-right: 24px;
}

.footer__nav-bottom {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  -ms-grid-column: 8;
  -ms-grid-column-span: 5;
  grid-column: 8 / span 5;
}

.footer__list-bottom {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 109px 1fr 109px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 109px;
  -moz-column-gap: 109px;
  column-gap: 109px;
  row-gap: 20px;
}

.footer__bottom-item {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--white-color);
}

.bottom-span {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 6;
  -ms-grid-column-span: 2;
  grid-column: 6 / span 2;
  margin-left: 16px;
  padding-top: 115px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 103.34%;
  color: var(--deep-gray-color);
  max-width: 128px;
  min-height: 17px;
}

.modal-wrapper {
  display: none;
}

.modal-wrapper_open {
  display: block;
}

.modal__btn-top {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 42px;
  height: 42px;
  border-radius: 40px;
}

.modal__btn-top:hover svg path{
  stroke: var(--medium-purpul-color);
  -webkit-transition: stroke 0.3s;
  transition: stroke 0.3s;
}

.modal__btn-top:hover svg circle{
  stroke: var(--medium-purpul-color);
  -webkit-transition: stroke 0.3s;
  transition: stroke 0.3s;
}

.modal__btn-top:active svg path{
  stroke: var(--deep-purpul-color);
  -webkit-transition: stroke 0.3s;
  transition: stroke 0.3s;
}

.modal__btn-top:active svg circle{
  stroke: var(--deep-purpul-color);
  -webkit-transition: stroke 0.3s;
  transition: stroke 0.3s;
}

.modal__btn-top:focus svg path{
  stroke: var(--light-purpul-color);
  -webkit-transition: stroke 0.3s;
  transition: stroke 0.3s;
}

.modal__btn-top:focus svg circle{
  stroke: var(--light-purpul-color);
  -webkit-transition: stroke 0.3s;
  transition: stroke 0.3s;
}

.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgb(0,0,0,0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  z-index: 2;
}

.modal {
  position: relative;
  padding: 60px;
  max-width: 824px;
  min-height: 655px;
  background-color: var(--deep-darck-color);
}

.modal::after {
  content: " ";
  position: absolute;
  bottom: 185px;
  max-width: 465px;
  width: 100%;
  height: 1px;
  background-color: rgba(230, 232, 236, 0.4);
}

.modal__title {
  display: block;
  margin-bottom: 17px;
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  color: var(--white-color);
}

.modal__text_margin {
  margin-bottom: 30px;
}

.modal__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--white-color);
}

.modal__text_color {
  color: var(--medium-purpul-color);
}

.modal__input-wrapper {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.modal__input {
  padding: 25px 32px;
  max-width: 526px;
  min-height: 70px;
  background-color: var(--deep-darck-color);
  border: 1px solid var(--white-color);
  border-radius: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: var(--white-color);
}

.modal__input:not(:last-child) {
  margin-bottom: 30px;
}

.modal__input::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: var(--deep-gray-color);
}

.modal__input::-moz-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: var(--deep-gray-color);
}

.modal__input:-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: var(--deep-gray-color);
}

.modal__input::-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: var(--deep-gray-color);
}

.modal__input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: var(--deep-gray-color);
}

.modal__btn {
  margin-bottom: 60px;
  padding: 25px;
  max-width: 167px;
  min-width: 167px;
  min-height: 70px;
  background: var(--medium-purpul-color);
  border-radius: 40px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: var(--white-color);
}

.modal__btn:hover {
  background-color: var(--light-purpul-color);
}

.modal__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal__item:not(:last-child) {
  margin-right: 40px;
}

.modal__link {
  padding: 4px;
}
